
<h1> <%= @game.player_1.name %> vs. <%= @game.player_2.name %></h1>

<h2> <%= @game.opponent.name %>'s HP: <%= @game.opponent.hp %> </h2>

<p>It's <%= @game.active_player.name %>'s turn.</p>

<p> <%= @game.active_player.name %>'s HP: <%= @game.active_player.hp %> </p>


<form action="/attack" method="get">
  <input type="submit" value="Attack!">
</form>

<form action="/switch" method="get">
  <input type="submit" value="Switch players">
</form>
